<!-- DEVELOPER: Kamil Weglarz, IS117-102, Spring 2022 -->
.jumbotron{
    background-color: ;
    backround-size: cover;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%
    width: 800px;
    margin: 0 auto;
    border: 3px solid;
    backround-color: #fffded
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}
